<div class="ui grid" style="padding-top: 100px;">
    <div class="row">
        <div class="column padding-reset">
            <div class="ui huge message page grid">
                <h1 class="ui huge header">Rails Engine Demo</h1>
                <p>This project was originally intended to not have a front end, but I thought it'd be interesting to add a small dashboard to visualize how it works. </p>
                <p>
                  The project is a simulation of an online merchant database with vendors, items, invoices, customers, and transactions.
                  I built 25+ API endpoints to display information from the database in JSON, and built Active Record + SQL queries to provide a layer of business intelligence.
                  In the dashboard on the next page, I've set up a few AJAX requests to display information about the queries and endpoints in real-time.
                  The AJAX request were intentionally left unoptimized so you're able to view raw time that it takes to make the DB queries.

                  Note: all seed file data was generated with the Faker Gem.
                </p>
                <%= link_to "Login", login_path, class: "ui blue button" %>
            </div>
        </div>
    </div>
</div>
